
/************************************** 
CLASSI 
***************************************/

a{
    text-decoration: underline;
}

/* Backogrund */
.bg-success {
    background-color: #1ABC9C !important;
}
.bg-secondary{
    background-color: #3a546d !important;
}
.bg-dark{
    background-color: #2c3e50 !important;
}

/* Color */
.color-primary{
    color: #1ABC9C !important;
}

/* Icona Stella*/

/* Form */
.my_form .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}